@model vendasWebMvc.Models.ViewModels.FormViewModelVendedor

@{
    ViewData["Title"] = "Editar Vendedores";
}

<h2>@ViewData["Title"]</h2>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="vendedor.Id">
            <div class="form-group">
                <label asp-for="vendedor.Nome" class="control-label">Nome</label>
                <input asp-for="vendedor.Nome" class="form-control" />
                <span asp-validation-for="vendedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor.Email" class="control-label">E-mail</label>
                <input asp-for="vendedor.Email" class="form-control" />
                <span asp-validation-for="vendedor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor.DataNasc" class="control-label">Data de Nascimento</label>
                <input asp-for="vendedor.DataNasc" class="form-control" />
                <span asp-validation-for="vendedor.DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor.SalarioBase" class="control-label">Salario Base</label>
                <input asp-for="vendedor.SalarioBase" class="form-control" />
                <span asp-validation-for="vendedor.SalarioBase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="vendedor.DepartamentoId" class="control-label">ID do Departamento</label>
                <select asp-for="vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id", "Nome"))" class="form-control">
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}