@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Nome"]</p>

<adress>
    <strong>Maiores informações: </strong> <a href="http://educandoweb.com.br">felipe.boliveira@outlook.com</a>
</adress>
