@{
    ViewData["Title"] = "Contato";
    ViewData["Message"] = "Página de Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Caravelas, 240<br />
    Jardim Gramacho, DC 25051-230<br />
    <abbr title="Telefone">Tel.:</abbr>
    (21)2772-3590
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:felipe.boliveira@outlook.com">felipe.boliveira@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:felipe.boliveira@outlook.com">felipe.boliveira@outlook.com</a>
</address>
